@bg1: #e7e9eb;
@bg2: white;
@accent: #3259f2;
@danger: #fa5057;
// @success: #00b75b;
@white: white;
@color: #333;
@focusBg: #ebeffe;
@focusColor: @accent;
@inputBg: rgba(shade(@accent, 50%), 0.04);
@brs: 3px;
@fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: @fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: @bg1;
  color: @color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  font-family: @fontFamily;
  color: @color;
  &:focus {
    outline: none;
    background-color: @focusBg !important;
  }
}

input[type='file'] {
  cursor: pointer;
}

button,
input::file-selector-button {
  padding: 5px 10px;
  font-size: 0.9em;
  background: @accent;
  color: @white;
  border: none;
  border-radius: @brs;
}

button {
  box-shadow: 2px 2px 0 rgba(@accent, 0.2);
  cursor: pointer;

  &:active {
    box-shadow: none;
    transform: translate(1px, 1px);
  }
}

.removeBtn {
  position: relative;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: @danger;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 6px;
    width: 12px;
    height: 2px;
    background: white;
  }

  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }

  &--small {
    width: 18px;
    height: 18px;
    &::after,
    &::before {
      top: 8px;
      left: 4px;
      width: 10px;
    }
  }
}

/* App */

.app {
  max-width: 500px;
  margin: 30px auto;

  &--loading {
    position: relative;

    &::after {
      content: 'Loading...';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
      background: rgba(@bg1, 0.9);
    }
  }
}

/* Loader */

.loader {
  font-size: 0.9em;
}

/* Add Form */

.form {
  padding: 30px;
  margin-bottom: 20px;
  background: @bg2;
  border-radius: @brs;

  legend {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.formField {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: @inputBg;
    border-radius: @brs;
  }

  textarea {
    min-height: 80px;
    resize: none;
  }
}

.formField__Date {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
  }

  input {
    padding: 10px;
    border: none;
    background: @inputBg;
    border-radius: @brs;
  }
}

.formField__Files {
  margin-bottom: 15px;

  input {
    padding: 8px;
    background: @inputBg;
    border-radius: @brs;
  }
}

.formAdditionalFields {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formBtn {
  padding: 12px 16px;
  font-weight: bold;
}

/* TaskList */

.taskList {
  margin: 0;
  padding: 0;
  list-style-type: none;

  & > li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.taskListItem {
  position: relative;
  padding: 30px;
  background: @bg2;
  border-radius: @brs;

  input:not([type='file']),
  textarea {
    background: @inputBg;
  }

  &--done {
    opacity: 0.5;
  }

  &--expired {
    background: mix(@danger, @bg2, 6%);
    .taskListItem__Date {
      color: @danger;
    }
  }
}

.taskListItem__Title {
  h3,
  input {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 10px;
  }

  h3 {
    padding-right: 145px;
  }

  input {
    width: calc(100% - 145px);
    margin-right: 145px;
    padding: 0;
    border: none;
  }
}

.taskListItem__Text {
  p,
  textarea {
    font-size: 0.9em;
  }

  p {
    margin: 0 0 15px;
  }

  textarea {
    width: 100%;
    margin: 0 0 12px;
    padding: 0;
    min-height: 51px;
    border: none;
    resize: none;
  }
}

.taskListItem__Bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  input[type='date'] {
    padding: 0;
    border: none;
    font-style: italic;
  }
}

.taskListItem__Date {
  font-size: 0.8em;
  font-style: italic;
}

.taskListItem__Done {
  label {
    position: relative;
    display: block;
    padding: 5px 7px 6px 30px;
    font-size: 0.8em;
    // border: 2px solid rgba(@accent, 0.2);
    color: @accent;
    border-radius: @brs;
    cursor: pointer;

    & > span {
      position: absolute;
      top: 50%;
      left: 6px;
      transform: translateY(-50%);
      display: block;
      width: 16px;
      height: 16px;
      background: @accent;
      border-radius: @brs;

      &::before,
      &::after {
        display: none;
        content: '';
        position: absolute;
        background: white;
      }

      &::before {
        top: 9px;
        left: 3px;
        width: 5px;
        height: 2px;
        transform: rotate(45deg);
      }
      &::after {
        top: 7px;
        left: 5px;
        width: 9px;
        height: 2px;
        transform: rotate(-45deg);
      }
    }
  }

  input {
    display: none;
    &:checked + label > span {
      &::before,
      &::after {
        display: block;
      }
    }
  }
}

.taskListItem__Files {
  font-size: 0.9em;

  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 4px;
        &::after {
          content: ',';
        }
      }

      .removeBtn {
        margin-left: 2px;
      }
    }
  }

  input {
    margin-top: 10px;
  }
}

.taskListItem__Btns {
  position: absolute;
  top: 28px;
  right: 63px;

  button {
    padding: 3px 8px;
    font-size: 0.8em;
    text-transform: lowercase;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.taskListItem__removeBtn {
  position: absolute;
  top: 27px;
  right: 30px;
}

/* Footer */

footer {
  margin-top: 30px;
  font-size: 0.9em;
}
