.app {
  padding: 30px;
  max-width: 500px;
  margin: 30px auto;
  background: #f1f4fc;
}

/* Add Form */

.form {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;

  legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.formField {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 3px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
  }

  textarea {
    min-height: 80px;
    resize: none;
  }
}

.formFieldDate {
  margin-bottom: 15px;

  label {
    margin-bottom: 3px;
    display: block;
  }

  input {
    padding: 10px;
    border: none;
  }
}

.formFieldFiles {
  margin-bottom: 15px;

  input {
    padding: 8px;
    background: white;
  }
}

.formAdditionalFields {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formBtn {
  padding: 15px 20px;
  font-size: 1em;
  border: none;
  background: black;
  color: white;
}

/* TaskList */

.taskList {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.taskListItem {
  padding: 15px;
  background: white;

  h3 {
    margin: 0 0 10px;
  }

  p {
    margin: 0 0 10px;
  }

  &--done {
    opacity: 0.5;
  }

  &--overdue {
    background: rgb(255, 183, 183);
  }
}

.taskListItemBottom {
  display: flex;
  justify-content: space-between;
}

/* Footer */

footer {
  margin-top: 30px;
}
